@font-face {
  font-family: "Fira Sans";
  src: url('../assets/fonts/FiraSans-Regular.woff2') format('woff2'),
      url('../assets/fonts/FiraSans-Regular.ttf') format('ttf');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Fira Sans Bold";
  src: url('../assets/fonts/FiraSans-Bold.woff2') format('woff2'),
      url('../assets/fonts/FiraSans-Bold.ttf') format('ttf');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Fira Sans Italic";
  src: url('../assets/fonts/FiraSans-Italic.woff2') format('woff2'),
      url('../assets/fonts/FiraSans-Italic.ttf') format('ttf');
  font-weight: 400;
  font-style: italic;
}
